<h1>Hello</h1>
<%= form_with model: @user, local: true do |f| %>

    <% if @user.errors.any? %>
            <ul>
                <% @user.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        <% end %>

    <h1> Create An Agent </h1>
    <%= f.label :email %>
    <br>
    <%= f.email_field :email %><br>
    
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %><br>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <h3> Add Client</h3>
    <%= f.fields_for :clients do |client| %>
        <%= client.label :email %><br>
        <%= client.email_field :email %><br>
        <%= client.label :first_name %><br>
        <%= client.text_field :first_name %><br>
        <%= client.label :last_name %><br>
        <%= client.text_field :last_name %><br>
        <%= client.label :phone_number %><br>
        <%= client.telephone_field :phone_number %><br>
        <%= client.label :property_size %><br>
        <%= client.select :property_size, ["Studio", "1-bdr", "2-bdr", "3-bdr"] %><br>
        <%= client.label :min_price %><br>
        <%= client.number_field :min_price %><br>
        <%= client.label :max_price %><br>
        <%= client.number_field :max_price %><br>
        <%= client.label :neighborhood %><br>
        <%= client.text_field :neighborhood %><br>
        <%= client.label :annual_income %><br>
        <%= client.number_field :annual_income %><br>
        <%= client.label :credit_score %><br>
        <%= client.number_field :credit_score %><br>
        <%= client.label :yes %><br>
        <%= client.radio_button :guarantor, true %><br>
        <%= client.label :no %><br>
        <%= client.radio_button :guarantor, false %><br>
    <% end %>

    <%= f.submit "new user" %>

<% end %>