<h1>Hello</h1>

<%= form_with model: @user, local: true do |f| %>

    <% if @user.errors.any? %>
            <ul>
                <% @user.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        <% end %>

    <h1> Create An Agent </h1>
    <%= f.label :email %>
    <br>
    <%= f.email_field :email %><br>
    
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %><br>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    
    <h3> Add Property</h3>
    <%= f.fields_for :properties do |property| %>
        <%= property.label :management %> <br>
    
    <%= property.text_field :management %> <br>
   
    <%= property.label :address %> <br>
    <%= property.text_field :address %> <br>

    <%= property.label :unit_number %> <br>
    <%= property.text_field :unit_number %> <br>



    <%= property.label :size %> <br>
    <%= property.select :size, ["Studio", "1-bdr", "2-bdr", "3-bdr"] %><br> <br>

    <%= property.label :neighborhood %> <br>
    <%= property.text_field :neighborhood %> <br>
    
    <%= property.label :status %> <br>
     <%= property.select :status, ["Vaccant", "Application-Pending", "Rented"] %><br> 

    <%= property.label :price %> <br>
    <%= property.number_field  :price,  step: 50 %> <br>

     <%= property.label :floor %> <br>
    <%= property.number_field  :floor %> <br>

     <%= property.label :notes %> <br>
    <%= property.text_area  :notes %> <br>

    <% end %>

    <%= f.submit "new Agent" %>

<% end %>