<h1>Please Add New Listing </h1><br>

<%= form_with model: @property, local: true do |f| %>

<% if is_admin? %>
    <%= f.select :user_id, current_user.users.map {|user| [user.name, user.id ]}  %><br>

<% else %>
 <%= f.hidden_field :user_id, value: current_user.id %>
<% end %>

    <%= f.label :management %> <br>
    
    <%= f.text_field :management %> <br>
   
    <%= f.label :address %> <br>
    <%= f.text_field :address %> <br>

    <%= f.label :unit_number %> <br>
    <%= f.text_field :unit_number %> <br>



    <%= f.label :size %> <br>
    <%= f.select :size, ["Studio", "1-bdr", "2-bdr", "3-bdr"] %><br> <br>

    <%= f.label :neighborhood %> <br>
    <%= f.text_field :neighborhood %> <br>
    
    <%= f.label :status %> <br>
     <%= f.select :status, ["Vaccant", "Application-Pending", "Rented"] %><br> 

    <%= f.label :price %> <br>
    <%= f.number_field  :price,  step: 50 %> <br>

     <%= f.label :floor %> <br>
    <%= f.number_field  :floor %> <br>

     <%= f.label :notes %> <br>
    <%= f.text_area  :notes %> <br>


    <%= f.submit "Save New Listing" %>

<% end %>