<h1> Listing: <%= @property.address %></h1>
        <h3> Management:  <%= @property.management %></h3>
        <h3> Size:  <%= @property.size %></h3>
        <h3> Neighborhood:  <%= @property.neighborhood %></h3>
        <h3> Status:  <%= @property.status %></h3>
        <h3> Price:  <%= @property.price %></h3>
        <h3> Floor:  <%= @property.floor %></h3>
        <h3> Notes:  <%= @property.notes %></h3>

        <% if current_user == @property.user %>
                <%= link_to 'Edit Listing', edit_property_path %><br>
                <%= link_to "Delete Property", property_path(@property), method: :delete, data: { confirm: "Are you sure you want to delete ?" }  %>
        <% end %>

        <h1> Upcoming Tours</h1><br>
        
                <% @property.tours.each do |tour| %>
                <%= tour.client.info %>
                <%= tour.time %>
        <% end %>


