<h1>Add new client</h1>
<%= form_with model: @client, local: true do |f| %>

    <% if @client.errors.any? %>
        <ul>
            <% @client.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <% end %>
        </ul>
    <% end %>


    <%= f.hidden_field :user_id, value: @client.user_id %>
    <%= f.label :email %><br>
    <%= f.email_field :email %><br>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %><br>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %><br>
    <%= f.label :phone_number %><br>
    <%= f.telephone_field :phone_number %><br>
    <%= f.label :property_size %><br>
    <%= f.select :property_size, ["Studio", "1-bdr", "2-bdr", "3-bdr"] %><br>
    <%= f.label :min_price %><br>
    <%= f.number_field :min_price %><br>
    <%= f.label :max_price %><br>
    <%= f.number_field :max_price %><br>
    <%= f.label :neighborhood %><br>
    <%= f.text_field :neighborhood %><br>
    <%= f.label :annual_income %><br>
    <%= f.number_field :annual_income %><br>
    <%= f.label :credit_score %><br>
    <%= f.number_field :credit_score %><br><br>
    <%= f.label :guarantor, "Using A Guarantor" %><br>
    <%= f.label :yes %><br>
    <%= f.radio_button :guarantor, true %><br>
    <%= f.label :no %><br>
    <%= f.radio_button :guarantor, false %><br>
    <%= f.submit "new client" %>
<% end %>